# Main analysis on api collected data to follow

In [5]:
# import libraries

import os
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
from pathlib import Path
from dotenv import load_dotenv

%matplotlib inline

In [6]:
#pn.extension('plotly')

NameError: name 'pn' is not defined

In [7]:
import hvplot.pandas

In [8]:
# Read the API keys
load_dotenv()

True

In [9]:
# Define Algorithms, Assets to evaluate
# this is hard coded for first MVP
eval_pos_list = ['FAANG','Resi_RE','GlobalArtIndex']
benchmk_pos_list = ['SP500','BondAgg','BTCUSD','XAUUSD']
calc_list = ['returns','cum_returns','std','sharpe']
plot_list = ['price','returns','cum_returns','std','sharpe']

In [23]:
# Create latest up to date dataset for each position reviewed:
# A historical dataset is created by a separate script that pulls, massages the data and creates a csv.
# This data is then pulled into a df and then updated with latest market information using appropriate API
# get request. This way historical data doesnt need to be retrieved with repetitive API gets, but the data 
# can be kept up to date with latest info.

# Fetch ART Data
art_file_path = Path("../data_imports/Artprice_Indexes_Quarterly_data_Base100_January1998.csv")
art_index = pd.read_csv(art_file_path, encoding='utf-8', parse_dates=True, infer_datetime_format=True)
art_index.rename(columns=({"Unnamed: 0" : "Date"}), inplace=True)
art_index.dropna()
art_index.set_index("Date", drop=True, inplace=True)
art_index.tail()


#def SP500_latest_data
#
# #each should return, cleaned properly and format
#def BondAgg_latest_data
#
#date adj close price
#
#def BTCUSD_latest_data
#
#def XAUUSD_latest_data
#
#def ResRealEstate_data

,Global Index (USD),Global Index (EUR),Painting,Sculpture,Photography,Drawing,Print,19th Century,Modern Art,Post-War,Contemporary,USA (USD),UK (GBP),France (EUR)
Date,,,,,,,,,,,,,,
2019-07-01,137,137,121,144,159,150,214,62,111,282,235,125,157,128
2019-10-01,113,114,116,143,160,147,216,66,106,266,233,126,157,126
2020-01-01,137,138,116,143,163,150,218,70,113,270,237,124,155,128
2020-04-01,118,119,117,144,161,138,216,68,115,277,241,126,160,126
2020-07-01,124,126,120,152,165,134,225,64,118,277,267,120,145,126

# Analytic calculations
# calculations to be performed defined in calc_list
# calculations to be done on two timebases: YTD, 10year
# suggest creating a function for each that creates one large combined dataframe of positions for each calc
# and for each time period. Right now that means 8 distinct df.
"""
def analytic_calcs_ytd(eval_position_list, calc_list):
    """ Function analyzes for defined calcs in calc_list
        across all positions in eval_position_list. It then returns
        a separate combo_ytd_df for each calc with each position 
        in a separate column with date as index. ie,
        header for std_combo_ytd_df: date,SP500,BondAgg,BTCUSD,XAUUSD,ResRE
    """
    
def analytic_calcs_10yr(eval_position_list, calc_list):
    """ Function analyzes for defined calcs in calc_list
        across all positions in eval_position_list. It then returns
        a separate combo_ytd_df for each calc with each position 
        in a separate column with date as index. ie,
        header for std_combo_10yr_df: date,SP500,BondAgg,BTCUSD,XAUUSD,ResRE
    """
    
def bonus_detailed_art_calcs_10yr
"""

In [39]:


returns_benchmk_10yr_df = pd.DataFrame(columns=benchmk_pos_list)
cum_returns_benchmk_10yr_df = pd.DataFrame(columns=benchmk_pos_list)
std_benchmk_10yr_df = pd.DataFrame(columns=benchmk_pos_list)
sharpe_benchmk_10yr_df = pd.DataFrame(columns=benchmk_pos_list)

returns_eval_10yr_df = pd.DataFrame(columns=eval_pos_list)
cum_returns_eval_10yr_df = pd.DataFrame(columns=eval_pos_list)
std_eval_10yr_df = pd.DataFrame(columns=eval_pos_list)
sharpe_eval_10yr_df = pd.DataFrame(columns=eval_pos_list)

returns_eval_10yr_df['GlobalArtIndex'] = art_index.loc[:,'Global Index (USD)'].pct_change().dropna()
returns_eval_10yr_df.head()

#std_combo_10yr_df =

           FAANG ResiRE  GlobalArtIndex
Date
1998-04-01   NaN    NaN        0.070000
1998-07-01   NaN    NaN       -0.009346
1998-10-01   NaN    NaN       -0.094340
1999-01-01   NaN    NaN        0.083333
1999-04-01   NaN    NaN       -0.009615

In [8]:
# Define Panel Visualization Functions
# Number of plot functions right now = 5 calcs/position * 2timeframes * 6 positions = 60!!!!


#def 
#art_index_std_bar = px.bar(art_index_std, title="Art Price STD 1998-2020")
#art_index_std_bar

In [2]:
# Create Panel Dashboard